---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/experiencia">Experiencia</a>
        <h1>Sobre mi</h1>
		<p>Soy desarrollador web, he terminado el CFGS de Desarrollo de Aplicaciones Web y soy estudiante de Ingeniería Informática.</p>

        <p>Actualmente estoy trabajando como CTO en Tadosi, una startup fintech</p>
	</body>
</html>
