<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/experiencia">Experiencia</a>
		<h1>Experiencia</h1>

        <h2>Experiencia laboral</h2>
        <ul>
            <li>CTO Tadosi (2024-actualidad)</li>
        </ul>

        <h2>Experiencia académica</h2>
        <ul>
            <li>CFGS Desarrollo Aplicaciones Web (2022-2024)</li>
            <li>Grado en Ingeniería Informática (2023-actulalidad)</li>
        </ul>

        <h2>Lenguajes conocidos</h2>
        <ul>
            <li>JavaScript (React, Angular, Next.js, Astro)</li>
            <li>Java (Spring)</li>
            <li>Go</li>
            <li>Python</li>
        </ul>
	</body>
</html>
